.introContent {
    position: absolute;
    width: 485px;
    height: 228px;
    left: 205px;
    top: 256px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.div {

    position: absolute;
    width: 309px;
    height: 42px;
    left: 272px;
    top: 468px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}


