#p {
    position: absolute;
    width: 292px;
    height: 47px;
    left: 839px;
    top: 908px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.pp {
    /* We have several advantages that other tailors don't have */

    position: absolute;
    width: 280px;
    height: 42px;
    left: 848px;
    top: 980px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;

    color: rgba(255, 255, 255, 0.6);


}

.shape1 {
    position: absolute;
    width: 166px;
    height: 179px;
    left: 360px;
    top: 1060px;
}




#profe {
    /* Professional tailor */

    position: absolute;
    width: 128px;
    height: 48px;
    left: 34px;
    top: 288px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.01em;

    color: #FFFFFF;


}

#exp {
    position: absolute;
    width: 193px;
    height: 34px;
    left: 6px;
    top: 342px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #F7C8E0;
}


.shape3 {
    position: absolute;
    width: 238px;
    height: 412px;
    left: 875px;
    top: 1060px;
}

#best {
    position: absolute;
    width: 128px;
    height: 48px;
    left: 56px;
    top: 290px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

#material {
    position: absolute;
    width: 193px;
    height: 51px;
    left: 35px;
    top: 346px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #F7C8E0;
}

.shape2 {
    position: absolute;
    width: 238px;
    height: 294px;
    left: 1329px;
    top: 1060px;
}

#morden {
    position: absolute;
    width: 128px;
    height: 48px;
    left: 56px;
    top: 281px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

#model {
    position: absolute;
    width: 193px;
    height: 34px;
    left: 23px;
    top: 342px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #F7C8E0
}