.copy {
    position: relative;
    width: 274px;
    height: 15px;
    left: 927px;
    /* top: 3679px; */
    /* bottom: -50px; */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #FFFFFF;

}